nint status

"nint" appears in Appendix B, but I don't know what that is.  Where's it defined?

[DC]  this is part of the CDDL... I'm assuming it is a type declaration?

[BM] Already replied; tracking issue.

nint is defined in RFC8610, Section 3.3. It is any negative integer.
RFC8610 is explicitly referenced at the beginning of Appendix A (Full CDDL)
