IANA questions

Sabrina asked on the list:

First, can you refer to the CBOR tag values in Section 11 as "107 (suggested)" and "1070 (suggested)" rather than "107" and "1070"? If you want to register these now, you can submit the following form, and we will ask the IESG-designated experts to review them.

https://www.iana.org/form/protocol-assignment

Second, where should the SUIT manifests registry be located? Should it be added to an existing registry page? If it needs a new page, does it also need a new category at https://www.iana.org/protocols (and if so, should the page and the category have the same name)?

Lastly, as you may be aware, the media type application/suit-envelope needs a registration template as described in Section 5.6 of RFC 6838:

https://www.rfc-editor.org/rfc/rfc6838.html#section-5.6

Section 5.1 of RFC 6838 also recommends sending the template to the [media-types@ietf.org](mailto:media-types@ietf.org) mailing list for an early review.
