Matching features against requirements

> 
> -- Section 6.1 provides weaker guarantees than suggested in RFC9019:
> Section 6.1 of this document says:
> 
>    Selecting an older manifest in the event of failure of the latest
>    valid manifest is a robustness mechanism that is necessary for
>    supporting the requirements in [RFC9019], Section 3.5.  It may not be
>    appropriate for all applications.
> 
> Here are a few that I found which didn't seem to be addressed:
> 
> -- THREAT.IMG.EXPIRED.OFFLINE (Section 4.2.2 of RFC9124):
>    If the threat is from a network actor, including an on-path attacker,
>    or an intruder into a management system, then a user confirmation can
>    mitigate this attack, simply by displaying an expiration date and
>    requesting confirmation.  On the other hand, if the user is the
>    attacker, then an online confirmation system (for example, a trusted
>    timestamp server) can be used as a mitigation system.
> 
> How does one represent an expiration date in the manifest? Is there a standardized "online confirmation system"?
> 
> -- REQ.SEC.AUTH.IMG_TYPE (Section 4.3.5 of RFC9124)
> 
>    The type of payload MUST be authenticated.
>    ...
>    Implemented by:  Payload Format (Section 3.8), Signature
>       (Section 3.15)
> 
> Section 8.3 of this document seems to suggest that it is possible to not have authenticated contents (digest only) -- "A SUIT_Envelope that has not had authentication information added MUST still contain the suit-authentication-wrapper element, but the content MUST be a list containing only the SUIT_Digest."

Addressed in https://github.com/suit-wg/manifest-spec/pull/133/files