(editorial): Fix references

References need to be updated to:

* RFC 8152 ➔ RFC 9052, 9053
* I-D.ietf-cbor-tags-oid ➔ RFC 9090
* I-D.ietf-cose-hash-algs ➔ RFC 9054