Integrated payload

Section 7.5 Integrated Payload Template

   The goal of the Integrated Payload template is to install a payload
   that is included in the manifest envelope.  It is identical to the
   Component Download template ([Section 7.3]).

   An implementer MAY choose to place a payload in the envelope of a
   manifest.  The payload envelope key MUST be a string.  The payload
   MUST be serialized in a bstr element.

[Hannes] "implementer" seems to be the wrong term here. Shouldn't it be "author" [from the SUIT architecture document] or "distribution system" [from the SUIT firmware encryption document]?

   The URI for a payload enclosed in this way MAY be expressed as a
   fragment-only reference, as defined in [[RFC3986], Section 4.4]

[Hannes] Should we maybe say that this means using the following notation: "#something"?

   A distributor MAY choose to pre-fetch a payload and add it to the
   manifest envelope, using the URI as the key.

[Hannes] Not sure what this means? The term "distributor" is only used once in the draft and it is not defined in the architecture document.