Signature intermediate values are calculated incorrectly in examples.

In [RFC8152, section 4.4](https://tools.ietf.org/html/rfc8152#section-4.4), the section "How to compute a signature" says:

> 2.  Create the value ToBeSigned by encoding the Sig_structure to a
>       byte string, using the encoding described in Section 14.

However, in [RFC8610, section 3.3](https://tools.ietf.org/html/rfc8610#section-3.3), bstr is defined as:

> "bstr" or "bytes"  A byte string (major type 2).

This makes the phrase "bstr type" and the phrase "byte string" appear semantically equivalent in this context. As a result, the `Sig_structure` was encoded as a `bstr type` (with type and size) instead of as a `byte stream` (no type, no size) as is intended in RFC8152.

Depends on https://github.com/ARMmbed/suit-manifest-generator/issues/13

This was corrected in ARMmbed/suit-manifest-generator#13